<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136881708711-khuj66utk3946vbaakb4f6hv9mtu94sk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136881708711-khuj66utk3946vbaakb4f6hv9mtu94sk</string>
	<key>API_KEY</key>
	<string>AIzaSyALFy4NExLn2w8OIuphuRQBoYymm92Aw3s</string>
	<key>GCM_SENDER_ID</key>
	<string>136881708711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mariaykim</string>
	<key>PROJECT_ID</key>
	<string>goalslisttracker</string>
	<key>STORAGE_BUCKET</key>
	<string>goalslisttracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136881708711:ios:c1e8ac77ea6f5e4b5c8582</string>
</dict>
</plist>